:global{
  .ant-anchor-link-active{
    background: #e6f7ff;
  }
}

.container {
  overflow: hidden;
  display: flex;
  height: 100%;
  .markdown {
    height: 100%;
    margin: 0 5px;
    padding: 0 10px;
    overflow-y: auto;
  }
}

.anchor {
  z-index: 90;
  width: 400px;
}
