#root {
  height: 100%;
  font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #EAEBF3;
}


#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  align-items: center;
  justify-content: space-around;
  display: none;
}

.loadingVerlay {
  background: rgba(255, 255, 255, 0.432);
}

.ant-select{
  min-width: 200px !important;
}

.search{
  background: #eee !important;
  margin: 8px 0 !important;
}

::-webkit-scrollbar {
  width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /*滚动条里面小方块*/

  background: rgba(126, 126, 126, 0.322);
  transition: all 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background: #757575c2;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 5px;
  border: none;
  background: transparent;
}
